<!-- Sidebar style="width:15%;margin-top: -2%;"-->
<div class="w3-sidebar barra w3-bar-block posicionSidebar">
    <a class="logo" [routerLink]="['clientes']">
        <img src="assets/icon/logoRadar.png" />
    </a>
    <a class="w3-bar-item color text-center" [routerLink]="['clientes']" style="text-decoration: none;">Clientes</a>
    <a class="w3-bar-item color text-center" [routerLink]="['productos']" style="text-decoration: none;">Productos</a>
    <a class="w3-bar-item color text-center" [routerLink]="['subproductos']" style="text-decoration: none;">Subproductos</a>
</div>